name: Hello Action

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # 手动触发也可以

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello
        run: echo "Hello GitHub Actions!"
